.team-heading {
	background-color: darkcyan;
	color: white;
}

.card-header {
	background-color: darkmagenta;
	color: white;
}

.list-group-item {
	border: none;
}

.card {
	margin: 20px;
	filter: drop-shadow(17px 10px 4px #cdcdee);
}
